{{ define "head" }}
  <link rel="stylesheet" href="/css/list.css" />
{{ end }}
{{ define "main" }}
  <div class="container">
    <header class="py-3">
      <h1 class="page-title" role="heading">
        {{ .Title | markdownify }}
      </h1>
    </header>
  </div>
  <main class="container" role="main">
    <div class="row" id="content">
      <div class="col-md-8">
        {{ range (.Paginator 8).Pages }}
        {{ partial "list-page-entry.html" . }}
        {{ end }}
        {{ partial "pagination.html" . }}
      </div>
      <aside class="col-md-4">

      </aside>
    </div>
  </main>
{{ end }}
