{{ define "main" }}
  <main class="container" role="main">
    <div class="row p-3" id="content">
      <div class="col-md-8 mx-auto">
        <div class="page-masthead my-4">
            <h1 class="page-title" role="heading">
                {{ .Title | markdownify }}
            </h1>
            <div class="page-meta">
              {{ if not .Date.IsZero }}
              <span class="page-meta-date">
                {{ .Date.Format "January 2, 2006" }}
              </span>
              {{ end }}
              {{ if .Params.Categories }}
              <span class="page-meta-categories">
                  {{ range .Params.Categories }}
                  <a href="{{ (urlize (printf "categories/%s" .)) | absURL }}"?>{{ . }}</a>
                  {{ end }}
              </span>
              {{ end }}
              {{ if .Params.Tags }}
              <span class="page-meta-tags">
                {{ range .Params.Tags }}
                <a href="{{ (urlize (printf "tags/%s" .)) | absURL }}"?>{{ . }}</a>
                {{ end }}
              </span>
              {{ end }}
            </div>
          </div>
          {{ with .Params.Cover }}
          <img class="page-cover" src="{{ . | absURL }}" />
          {{ end }}
          <div class="page-content my-4" role="content">
            {{ .Content }}
          </div>
          {{ if or .NextInSection .PrevInSection }}
            {{ partial "switcher.html" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </main>
{{ end }}

