<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ block "title" . }}
  <title>galexite.uk</title>
  {{ end }}
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Palanquin:wght@400;600&family=Playfair+Display:wght@600&display=swap" rel="stylesheet"> 
  <link href="/style.css" rel="stylesheet" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  {{ block "body" . }}
  {{ partial "hero.html" . }}
  {{ block "main" . }}
  {{ end }}
  {{ partial "footer.html" . }}
  {{ end }}
</body>
</html>