/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";

body {
  font-family: "IBM Plex Sans", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Varela";
  font-weight: normal;
}

.masthead {
  background: #3abcf4;
  background: radial-gradient(ellipse at top center, #3abcf4 0%, #03a9f5 100%);
  padding: 3em 0;
}

.masthead a {
  color: white;
  font-family: "Varela";
  font-size: xx-large;
}

.content {
  margin-top: 1em;
  margin-bottom: 1em;
}