/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";

body {
  font-family: "IBM Plex Sans", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Varela";
  font-weight: normal;
}

.jumbotron {
  background-color: #03A9F5;
  border-radius: 0;
}